@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?428ckl');
    src:  url('../fonts/icomoon.eot?428ckl#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?428ckl') format('truetype'),
      url('../fonts/icomoon.woff?428ckl') format('woff'),
      url('../fonts/icomoon.svg?428ckl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-user:before {
    content: "\e971";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-menu:before {/*utulizar esta clase en un elemento html*/
    content: "\e9bd";
  }
/**************************************************************************/
body,html{
  margin: 0px;
}
.header{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    display: flex;
    justify-content: center;  
    flex-wrap: wrap; 
    
    
}
.imagen_cabecera{
  
}
.container-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.logo{
  margin: 5%;
  margin-bottom: 0px;
}
.mi{
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.menu{
  position: relative;
  display: none ;
}
.img-principal{
  width: 100%;
  position: relative; /*para que la imagen se sejete ahi*/
  overflow: hidden; /*desbordamiento de la imagen*/
}
ol,ul{
    list-style: none;
    padding: 0;
    margin: 0;  
}
a{
  text-decoration: none;/*quta el subrrayado*/
  color: black;
}
.boton{
  margin-right: 10%;
}
li{
  background-color: white;
 
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color:gray;
  /*letter-spacing: 10px;/*espaci entre letras*/  
}